# 1. To accept a sequence of comma-separated numbers from the user and  generate the following with those numbers:-

### a. Tuple

In [7]:
tuple_input = tuple(map(int,input("Enter a set of values(separate with commas): ").split(",")))
print("Enterd value: ",tuple_input)

Enter a set of values(separate with commas): 1,2,3,4,5,4,3,3
Enterd value:  (1, 2, 3, 4, 5, 4, 3, 3)

In [8]:
type(tuple_input)

tuple

### b. Set

In [11]:
set_input = set(map(int,input().split(",")))
set_input

2,2,3,43,23

{2, 3, 23, 43}

In [12]:
type(set_input)

set

# 2. To find the elements those are not common in two sets.

<li>input 2 set values and store it in 2 variables like set1 and set2</li>
<li>find common elements --- >for that find intersection</li>
<li>now subtract set1-common elements and st2 - common elements, then do union()</li>

In [13]:
set1=set(map(int,input().split(",")))
set2=set(map(int,input().split(",")))

1,2,3,4
6,4,3,2

In [21]:
print(set1)
print(set2)

{1, 2, 3, 4}
{2, 3, 4, 6}

In [15]:
common_set = set1&set2

In [17]:
print("Common in set: ",common_set)

Common in set:  {2, 3, 4}

In [20]:
not_common_set=(set1-common_set)|(set2-common_set)
print("Elements that are no common in set: ",not_common_set)

Elements that are no common in set:  {1, 6}

In [24]:
#or you can do like this..
set1-set2|set2-set1

{1, 6}

# 3. To create a set of consonants in a given sentence using set comprehension.

In [12]:
sen = "My name is Parvathy Vijayan"
letters = set(sen.lower())
if ' ' in letters:
    letters.remove(" ")
if 'a' in letters:
    letters.remove("a")
if 'e' in letters:
    letters.remove("e")
if 'i' in letters:
    letters.remove("i")
if 'o' in letters:
    letters.remove("o")
if 'u' in letters:
    letters.remove("u")
letters

{'h', 'j', 'm', 'n', 'p', 'r', 's', 't', 'v', 'y'}


# 4. To remove all duplicates from a given sentence

In [13]:
sen

'My name is Parvathy Vijayan'

In [14]:
letters = set(sen.lower())
letters

{' ', 'a', 'e', 'h', 'i', 'j', 'm', 'n', 'p', 'r', 's', 't', 'v', 'y'}

# 5. To remove the intersection of a second set from the first set.

In [29]:
set1

{1, 2, 3, 4}

In [30]:
set2

{2, 3, 4, 6}

In [31]:
intersection = set1 & set2
print("Intersection of set1 and set2:", intersection)

Intersection of set1 and set2: {2, 3, 4}

# 6. To check if a given set is a superset of itself and a subset of another given set.

In [32]:
set1.issuperset(set1) and set1.issubset(set2)

False

In [33]:
s1={1,2}
s2={1,2,3}
print(s1<=s2," ",s2<=s1)

True   False

# 7. To create two frozen-sets and find the following:
a. Union
b. Intersection
c. Difference

In [34]:
frozen_set1 = frozenset([1, 2, 3, 4])
frozen_set2 = frozenset([3, 4, 5, 6])

In [35]:
frozen_set1

frozenset({1, 2, 3, 4})

In [36]:
frozen_set2

frozenset({3, 4, 5, 6})

In [37]:
# a. Union
union_result = frozen_set1 | frozen_set2

# b. Intersection
intersection_result = frozen_set1 & frozen_set2

# c. Difference
difference_result = frozen_set1 - frozen_set2

In [38]:
print("Union:", union_result)
print("Intersection:", intersection_result)
print("Difference:", difference_result)

Union: frozenset({1, 2, 3, 4, 5, 6})
Intersection: frozenset({3, 4})
Difference: frozenset({1, 2})

# 8. To create a tuple of unique elements from an existing tuple.

In [39]:
tuple1 = (1,3,5,6,8,8)

In [40]:
tuple1=tuple(set(tuple1))

In [41]:
tuple1

(1, 3, 5, 6, 8)

# 9. To count the occurrences of elements in a tuple.

In [42]:
my_tuple = (1,2,3,4,5,4,3,2,6,6,5,4,8,9,9,9,9,9,9,0)

In [43]:
occurrences = {}
for i in my_tuple:
    occurrences[i] = my_tuple.count(i)
print("Occurrences of elements in the tuple:")
for i, count in occurrences.items():
    print(f"{i}: {count}")

Occurrences of elements in the tuple:
1: 1
2: 2
3: 2
4: 3
5: 2
6: 2
8: 1
9: 6
0: 1

# 10.To find if all the items, in a tuple, are the same.

In [44]:
my_tuple=(4,1,4,4,4,4,4)

In [45]:
type(my_tuple)

tuple

In [46]:
s= set(my_tuple)
if(len(s)==1):
    print("Items are same")
else:
    print("items are not same")

items are not same

# 11.To sort a given tuple in descending order.

In [47]:
my_tuple=(5,4,7,6,2,4,7)

In [48]:
my_tuple=sorted(my_tuple)

In [49]:
my_tuple[::-1]

[7, 7, 6, 5, 4, 4, 2]

# 12.To check whether an element exists within a tuple.

In [50]:
my_tuple = (1, 2, 3, 4, 5)
key = 99
if key in my_tuple:
    print(f"{key} exists")
else:
    print(f"{key} does not exist")

99 does not exist

# 13.To remove an empty tuple(s) from a tuple of tuples.
Sample data: ((), (2), ('',), ('x', 'y'), (), ('p', 'q', 'r'), (),(3,4))<br>
Expected output: (2, ('',), ('x', 'y'), ('p', 'q', 'r'), (3, 4)

In [51]:
data = ((), (2,), ('',), ('x', 'y'), (), ('p', 'q', 'r'), (), (3, 4))
result = tuple(item for item in data if item != ())
result

((2,), ('',), ('x', 'y'), ('p', 'q', 'r'), (3, 4))